<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gautam</title>

    <link rel="stylesheet" href="/stylesheet/index.css" />
  </head>
  <body>
   <div class="container">
    <table>
        
        <th><h1>Create Notes</h1></th>  
        <th><a href="/upload"><img src="/images/uploads/<%= user?.profilepic %>" alt="" height="60px" width="60px" ></a>
        <span><p><%= user?.username%></p></span>
        <button class="logout"><a href="/logout">LogOut</a></button></th>
        
      
    </table>
  
    <div class="form-container">
      <form class="form" method="post" action="/create">
        <div class="form-group">
          <label for="email">Enter File Name</label>
          <input type="text" name="name" required="" />
        </div>
        <div class="form-group">
          <label for="textarea">Write Content</label>
          <textarea name="textarea" required=""></textarea>
        </div>
        <input class="form-submit-btn" type="submit" value="Create Notes">
      </form>
    </div>

    <div class="mainbox">
      <% if (user.file==0) { %>
       <h2 class="notes">No note present...</h2>
      <% }else{%>
        <% user.file.reverse().forEach(data => { %>
          <div class="Card">
              <div class="Heading"><%= data.name %>.txt</div>  
              <button class="acceptButton"><a href="/read/<%= data._id%>">Read More...</a></button>
              <div class="date">  <%= new Date(data.date).toLocaleString('en-US', { 
                year: 'numeric', 
                month: 'long', 
                day: 'numeric', 
                hour: '2-digit', 
                minute: '2-digit' 
            }) %></div>
          </div>
      <% }) %>
        <%} %>
    </div>
  </div>
  </body>
</html>
